.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: auto;
  padding: 15px;
}

.clipboard-image {
  position: relative;
  width: 100%; /* Makes sure the image takes up the container's width */
  height: 100%; /* Keeps the aspect ratio of the SVG */
  object-fit: cover; /* Ensures the SVG fits without stretching */
}

.clipboard-title {
  position: absolute;
  top: 15%;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
  font-size: 3vw;
  font-weight: 550;
  color: #425957;
  text-align: center;
  text-wrap: wrap;
  transform: translate(0, -22%);
  max-width: 80%; /* Prevents title from exceeding container */
  word-spacing: 1px; /* Add space between words to balance wrapping */
  letter-spacing: 0.5px; /* Add space between letters for better balance (optional) */
}

.clipboard-paragraph {
  position: absolute;
  font-size: 2.25vw;
  font-weight: 400;
  color: white;
  text-align: center;
  top: 30%;
  padding: 13% 12%;
  line-height: 125%;
  max-height: 90%;

}

@media (max-width: 768px) {
  .clipboard-title {
    font-size: 10vw;
    top:12%;
  }

  .clipboard-paragraph {
    top: 32%;
    font-size: 5.5vw;
  }
  
}
